<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <h3 class="title is-3">Account Set-Up:</h3>
        <div class="columns">
          <div class="column">
            <div class="box has-background-light">
              <p>
                <%= @user.email %>
                <%= link_to "Edit Account", edit_user_registration_path %>
              </p>
            </div>
          </div>
        </div>
        <h3 class="title is-3">Your Parties:</h3>
        <div class="columns is-multiline">
          <%= render @user.created_events %>
        </div>
      </div>
    </div>
  </div>
</section>
