<%#= @invitations.each do |invite| %>
  <%#= form_with model: invite, local: true do |f| %>
    <%# Include error section? %>
    <div class="field">
      <%#= f.label invite.event.title %>
      <%#= f.select :status, @status_options, class: "input" %>
    </div>
    <div class="actions">
      <%#= f.submit "Save", class:"button is-link" %>
    </div>
  <%# end %>
<%# end %>


