<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <h3 class="title is-3">
          <%= @invitation.event.title %> Invitation
        </h3>
        <div>
          <p>
            <strong>Status:</strong>
            <%= @invitation.status.humanize.capitalize %>
          </p>
          <%= link_to 'Update Status', edit_invitation_path %>
        </div>
      </div>
    </div>
  </div>
</section>